{
    "type": "TOKEN",
    "authorizationToken": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJqTXdOVGcwTnpneVFUTXdOalk0UWpoQk9UVXhRa0UwUkVNeVJEZzFRekpHUmpNeU9VVXlSUSJ9.eyJpc3MiOiJodHRwczovL3ByYWRoZWVwYS5hdXRoMC5jb20vIiwic3ViIjoiOWc2YmNvdlBhTTBTeTVLNHdTVGlpMWFpQmZqMHBZT01AY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vdmFhaTN3bXQxay5leGVjdXRlLWFwaS5hcC1zb3V0aGVhc3QtMS5hbWF6b25hd3MuY29tLyIsImlhdCI6MTY5MzQxNDY1NCwiZXhwIjoxNjkzNTAxMDU0LCJhenAiOiI5ZzZiY292UGFNMFN5NUs0d1NUaWkxYWlCZmowcFlPTSIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.ZLAuJhSpbX7uW07AyyXIwuEBoPIDU_4G8aq5Zk-vIpWL8Ao9VEBhZyQ9AIs1XDVS30b_ZBs1yI9nDyaBZNgso4SUkDdvPXgLL8b6Xir7BGqnrYH9Tg3ienqRdW12immes0mu9OVWuvr4lBWchZHoJD1E8AATgQed6unWcrmmRnyE37qSpS2bCPW8Hc9HxAG_bpG8dSy4wQskiqkzpows_B-vIAu-WsUg-bw_nOXoLg8TFsbfoGi3LcGU2aIwWIOXCL0l_3xIenvv9zUJvQfh7pKrpvihUxkm5hB4wG5GaCkFkgBKaqpQ_5LTUEiGm6VZanLdYZulem1gJ05NBO8Yxg",
    "methodArn": "arn:aws:execute-api:ap-southeast-1:376677132685:vaai3wmt1k/prod/GET/users/list"
  }